@using Cosapi.ElCosapino.CrossCutting.Util
@using Cosapi.ElCosapino.Dominio.Security.Aggregates.InterfaceWebAgg
@using Cosapi.ElCosapino.Dominio.Security.Aggregates.LoginAgg
@{
    var Permisos = (List<PermisoUsuario>)Session[Constantes.SessionKey.USERPERMISSIONS];
    Permisos = (Permisos ?? new List<PermisoUsuario>());
}

<style>
    #container_GridSeccionGaleria .rgHeader-jQuery-Filter {
        display: none
    }
</style>

@{
    var grid = new CanvasGrid<InterfaceWeb>("GridSeccionGaleria", Model) { callBackMethod = "GridSeccionReload_SeccionGaleria", tableHtmlAttributes = new { @class = "Grid" } };
    grid.columnCollection.addColumn(_headerText: "Título", _filterKey: "S_Titulo", _format: item => item.Titulo);
    grid.columnCollection.addColumn(_headerText: "Estado", _filterKey: "S_Estado", _format: item => item.Estado);
    grid.columnCollection.addColumn(_headerText: "Acciones", _isFilterable: false, _isSortable: false, _format:
    @<text>       
<div class="acciones_grilla">
    <a id="lnkEdit" onclick="ModalEditar_SeccionGaleria(this)" style="cursor:pointer" title="Editar" data-value="@item.IDInterfaceWeb">
        <span class="glyphicon glyphicon-pencil"></span>
    </a>
    <a id="lnkNuevoProyecto" onclick="ModalNuevoGaleriaFoto(this)" style="cursor:pointer" title="Editar" data-value="@item.IDInterfaceWeb">
        <span class="glyphicon glyphicon-tasks"></span>
    </a>
    <a id="lnkDelete" onclick="ConfirmaEliminarGaleria(this)" style="cursor:pointer" title="Eliminar" data-value="@item.IDInterfaceWeb">
        <span class="glyphicon glyphicon-trash"></span>
    </a>
</div>        
    </text>, _htmlAttributes: new { @width = "100px" });
}
@grid.GetHtml()
<script>
    function ConfirmaEliminarGaleria(that) {
        confirm("", "¿Está seguro de eliminar el registro?", function () {
            EliminarGaleria(that);
        });
    }

    function EliminarGaleria(that) {
        var codParameter = $(that).attr("data-value");
        var CodStatus = "0";
        var data = {
            CodParameter: codParameter
        };
        var jsonData = JSON.stringify(data);
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "CentroCapacitacion")',
            data: jsonData,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                switch (response.Codigo) {
                    case 1:
                        SelectRowsPerPage_SeccionGaleria();
                        alertify.success('¡Bien!. Registro eliminado.');
                        break;
                    case 0:
                        alertify.error('¡Opss!. Algo salió mal.');
                        break;
                    default:
                        alertify.error('¡Opss!. Algo salió mal.');
                        break;
                }
            },
            error: function () {
                alertify.error('¡Opss!. Algo salió mal.');
            }
        });
    }

    function ModalEditar_SeccionGaleria(that) {
        var id = $(that).attr("data-value");
        var titulo = that.parentElement.parentElement.parentElement.cells[0].innerText;
        var estado = that.parentElement.parentElement.parentElement.cells[1].innerText;
        var b_estado = false;
        if (estado == "Activo") {b_estado = true;}
        $('#txtIDInterfaceWeb_SeccionGaleria').val(id);
        $('#txtTituloEditar_SeccionGaleria').val(titulo);
        $('#chkEstadoEditar_SeccionGaleria').prop('checked', b_estado);
        $('#modalEditarSeccionGaleria').show();
    };

    function ModalNuevoGaleriaFoto(that) {
        var id = $(that).attr("data-value");
        $('#txtIDGaleria').val(id);
        SelectRowsPerPage_SeccionGaleriaFoto(id);
        $('#modalNuevoGaleriaFoto').show();
    }

</script>



