@using Cosapi.ElCosapino.CrossCutting.Util
@using Cosapi.ElCosapino.Dominio.Security.Aggregates.InterfaceWebAgg
@using Cosapi.ElCosapino.Dominio.Security.Aggregates.LoginAgg
@{
    var Permisos = (List<PermisoUsuario>)Session[Constantes.SessionKey.USERPERMISSIONS];
    Permisos = (Permisos ?? new List<PermisoUsuario>());
}

<style>
    #container_GridSeccionRequisitos .rgHeader-jQuery-Filter {
        display: none
    }
</style>

@{
    var grid = new CanvasGrid<InterfaceWeb>("GridSeccionRequisitos", Model) { callBackMethod = "GridSeccionReload_SeccionRequisitos", tableHtmlAttributes = new { @class = "Grid" } };
    grid.columnCollection.addColumn(_headerText: "Título", _filterKey: "S_Titulo", _format: item => item.Titulo);
    grid.columnCollection.addColumn(_headerText: "Subtítulo", _filterKey: "S_SubTitulo", _format: item => item.SubTitulo);
    grid.columnCollection.addColumn(_headerText: "Estado", _filterKey: "S_Estado", _format: item => item.Estado);
    grid.columnCollection.addColumn(_headerText: "Acciones", _isFilterable: false, _isSortable: false, _format:
    @<text>       
        <div class="acciones_grilla">
            <input type="text" id="txtOrden" style="display:none" value="@item.Orden" />
            <a id="lnkEdit" onclick="ModalEditar_SeccionRequisitos(this)" style="cursor:pointer" title="Editar" data-value="@item.IDInterfaceWeb">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a id="lnkDelete" onclick="ConfirmaEliminarRequisitos(this)" style="cursor:pointer" title="Eliminar" data-value="@item.IDInterfaceWeb">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>        
    </text>, _htmlAttributes: new { @width = "100px" });
}
@grid.GetHtml()
<script>
    function ConfirmaEliminarRequisitos(that) {
        confirm("", "¿Está seguro de eliminar el registro?", function () {
            EliminarRequisitos(that);
        });
    }

    function EliminarRequisitos(that) {
        var codParameter = $(that).attr("data-value");
        var CodStatus = "0";
        var data = {
            CodParameter: codParameter
        };
        var jsonData = JSON.stringify(data);
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "RequisitosIngreso")',
            data: jsonData,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                switch (response.Codigo) {
                    case 1:
                        SelectRowsPerPage_SeccionRequisitos();
                        alertify.success('¡Bien!. Registro eliminado.');
                        break;
                    case 0:
                        alertify.error('¡Opss!. Algo salió mal.');
                        break;
                    default:
                        alertify.error('¡Opss!. Algo salió mal.');
                        break;
                }
            },
            error: function () {
                alertify.error('¡Opss!. Algo salió mal.');
            }
        });
    }

    function ModalEditar_SeccionRequisitos(that) {
        var id = $(that).attr("data-value");
        var titulo = that.parentElement.parentElement.parentElement.cells[0].innerText;
        var subtitulo = that.parentElement.parentElement.parentElement.cells[1].innerHTML;
        var estado = that.parentElement.parentElement.parentElement.cells[2].innerText;
        var orden = that.parentElement.childNodes[1].value;
        var b_estado = false;
        if (estado == "Activo") {b_estado = true;}
        $('#txtIDInterfaceWeb_SeccionRequisitos').val(id);
        $('#txtTituloEditar_SeccionRequisitos').val(titulo);
        if (orden == 1) {
            $('#txtIDYoutubeEditar_SeccionRequisitos').val(subtitulo);
            tinyMCE.get('txtSubTituloEditar_SeccionRequisitos').setContent("");
        } else {    
            $('#txtIDYoutubeEditar_SeccionRequisitos').val("");
            tinyMCE.get('txtSubTituloEditar_SeccionRequisitos').setContent(subtitulo);
        }
        $('#chkEstadoEditar_SeccionRequisitos').prop('checked', b_estado);
        $('#modalEditarSeccionRequisitos').show();
    };

</script>



